.formBox {
    width: 50%;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 25px;
    margin: auto;
    margin-top: 15px;
}

input {
    width: 90%;
    border-radius: 5px;
}

.homePage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/homepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    height: 100vh;    
}

.frontButton {
    color: white;
    display: block;
}
